@model HeaderViewModel

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <strong>Web Tales</strong>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto ms-lg-auto mb-2 justify-content-center align-items-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a asp-action="About" asp-controller="Home" class="nav-link px-2 text-white">About</a></li>
                <li><a asp-action="Privacy" asp-controller="Home" class="nav-link px-2 text-white">Privacy</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="@Model.Header.SearchPlaceholder.Text" aria-label="@Model.Header.SearchPlaceholder.Text">
            </form>

            @if (!User.Identity.IsAuthenticated)
            {
                <div class="text-end">
                    <a asp-action="Login" asp-controller="Account" class="btn btn-outline-light me-2">@Model.Header.LoginButtonText.Text</a>
                    <a asp-action="Register" asp-controller="Account" class="btn btn-warning">@Model.Header.RegisterButtonText.Text</a>
                </div>
            }
            else
            {
                    <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                        @if (User.IsInRole(Constants.UserRoles.Administrator))
                        {
                            <li><a class="dropdown-item" href="/admin">@Model.Header.DashboardButtonText.Text</a></li>
                        }
                        <li><a class="dropdown-item" asp-action="NewStory" asp-controller="Story">@Model.Header.NewPostButtonText.Text</a></li>
                        <li><a class="dropdown-item" href="#">@Model.Header.ProfileButtonText.Text</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">@Model.Header.LogoutButtonText.Text</a></li>
                    </ul>
                </div>
            }
        </div>
    </div>
</header>
